[Unit]
Description=MiApache on port 11080 Service
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
ExecStart=/usr/local/miapacheconphp/bin/apachectl start

[Install]
WantedBy=multi-user.target
Alias=miapacheconphp.service
